.container{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.form_section{
    flex: 1;
    padding: 5px;
    border-right: 1px solid;
}

.table_section{
    flex: 1px;
}

.full_width{
    width: 100%;
}

.form_button{
    margin-right: 1%;
}