<div class="container">
    <div class="form-section">

        <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()" class="example-form">

            <mat-form-field class="full-width">
                <mat-label>Employee Name</mat-label>
                <input matInput formControlName="employeeName" />
                <span class="text-danger"
                    *ngIf="(attendanceForm.get('employeeName').touched || submitted) && attendanceForm.get('employeeName').errors?.['required']">
                    Employee Name is required
                </span>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Status</mat-label>
                <input matInput formControlName="status" />
                <span class="text-danger"
                    *ngIf="(attendanceForm.get('status').touched || submitted) && attendanceForm.get('status').errors?.['required']">
                    Status is required
                </span>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <span class="text-danger"
                    *ngIf="(attendanceForm.get('date').touched || submitted) && attendanceForm.get('date').errors?.['required']">
                    Date is required
                </span>
            </mat-form-field>


            <button type="submit" mat-raised-button color="primary" class="form-button"
                [disabled]="isButtonDisabled">Save</button>
            <button type="reset" mat-raised-button color="accent" class="form-button"
                (click)="resetData()">Reset</button>
        </form>
    </div>

    <div class="table-section">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editData(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteData(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of attendance records"></mat-paginator>
    </div>
</div>